.logo {
    padding: 20px;
}


/* section {
    height: 100vh !important;
    width: 100% !important;
} */

/* right login pge */
.custom_bg {
    background: url("../img/images/Group\ 9990.svg") no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden !important;
    min-height: 800px !important;

}

.login-right2 {
    background: url("/img/cards/Images-1.png") no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden !important;

}

.btn-outline-light:hover {
    color: #000 !important;
    border: 1px solid #000 !important;
    background: transparent !important;
}

.fw_300 {
    font-weight: 300 !important;
}

.bg_lightdark {
    background: #ECEEF0 !important;
}

.text_darklight {
    color: #2EC4B6 !important;
}

.rounded_20 {
    border-radius: 10px;
}

.text_custblue {
    color: #3A86FF !important;
}

.form-control {
    font-size: 18px !important;
}

.form-control:focus {
    color: #212529;
    font-size: 20px !important;
    border-color: none;
    outline: 0;
    box-shadow: none !important;
}


.bg_blue {
    background: #4267B2 !important;
    color: #fff !important;
}

.bg_blue:hover {
    background: transparent !important;
    color: #4267B2 !important;
    border: 1px solid #4267B2 !important;
}

/* footer */

.footer {
    /* margin-top: 200px; */
    background-color: #111518;
    font-family: "Montserrat", sans-serif;
    padding: 40px 0;
    /* margin-top: -30px; */
}

.footerPara {
    max-width: 80%;
    font-size: 15px;
    line-height: 1.5;
    color: #ffffffa8;
}

.footer ul li {
    margin-top: 7px;
}

.footer ul li a {
    text-decoration: none;
    font-size: 13px;
    color: #ffffffa8;
}

.footer h5 {
    font-weight: 600;
    font-size: 17px;
}

.footer-copyright {
    color: #a0a0a0;
    font-size: 13px;
}