@media(min-width:768px) {

    .border_left {
        border-right: 1px solid #707070;
        padding: 5px 0;
    }

    .h_100 {
        height: 100px !important;
    }
}

@media(max-width:768px) {

    .p_sm_10 {
        padding: 10px;
    }

    .h_200 {
        height: 200px !important;
    }

    .h_200 img {
        object-fit: cover !important;
        height: 100% !important;
    }
}